# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log
yarn-debug.log
lerna-debug.log
.pnpm-debug.log

# Local environment
.DS_Store
.vscode/
.idea/
*.swp

# Deployment files
.vercel/
.netlify/
dist/
build/
.vercel
